* {
    font-family: 'at01_PixelFont', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
    display: block;
    width: 100%;
}

/* Smartphones */
@media only screen  and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones */
@media only screen  and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}